.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

img {
    max-width: 300px;
    margin: auto;
}

.signin {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 500px;
    padding: 20px;
    border: 1px;
    border-style: solid;
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    min-width: 500px;
}

.signup {
    margin: auto;
    align-content: center;
}

.new {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
}

.mytextdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.mytexttitle {
    flex-grow: 0;
}

.divider {
    margin: 5px;
    flex-grow: 1;
    height: 1px;
    background-color: #9f9f9f;
}

.pass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.URLs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.URL {
    padding: 10px;
}